body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: steelblue;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgmain {
  max-width: 80%;
  max-height: 50%;
  border-radius: 20%;
  margin-bottom: 75px;
  margin-top: 75px;
}

.app-bar {
  margin-bottom: 25px;
}

.icon {
  padding: 20px;
}

.some_icon {
  transform: scale(1.5);
  color: white;
}

.foot-name {
  float: right;
}

button {
  float: right;
}

.tool_bar {
  justify-content: space-between;
}

.tool_link {
  display: flex;
}

.badge-align {
  max-width: 10%;
  max-height: 10%;
  padding: 15px;
}

.badges {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.badges_main {
  margin: 25px;
}

.badges_margin {
  margin-top: 65px;
  margin-bottom: 25px;
}

.portfolio-picture {
  max-width: 200px;
  border: solid black;
}

.portfolio-link {
  text-align: center;
  transform: scale(1.7);
  color: black;
}

.portfolio_icon {
  transform: scale(1.5);
  color: black;
  padding: 10px;
}

.portfolio-break {
  padding: 25px;
  margin-top: 10px;
}

.margin {
  margin-top: 20px;
}

.margin-footer {
  padding: 25px;
}

.portfolio-margin-top {
  margin-top: 25px;
}
